<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="OutputBinPath" value="C:\Users\himanshusingh\Documents\Visual Studio 2013\Projects\Nagarro.Users - Copy\OutputBin" />
    <add key="BDCdllKey" value="Nagarro.Users.Business.Dll" />
    <add key="DACdllKey" value="Nagarro.Users.Data.Dll" />
    <add key="DTOdllKey" value="Nagarro.Users.DTOModel.Dll" />
  </appSettings>
  <connectionStrings>
    <add name="UserStoryEntities" connectionString="metadata=res://*/EntityModel.UserStoryModel.csdl|res://*/EntityModel.UserStoryModel.ssdl|res://*/EntityModel.UserStoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HIMANSHU3146425\SQLEXPRESS2012;initial catalog=UserStory;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>